body{
 background-image: 
 url(https://i.pinimg.com/originals/72/a1/84/72a184aa7846cad0d5a82cf55dc3f406.jpg);
 padding: 0px;
 
}

#menu{
    position: fixed;
    z-index: 99;
    width: 100%;

}

.resize {
    width: 500px;
    height: 50%;
}

.resize {
    width: 100%;
    height: auto;
    padding: 10px;
    border-color: gray;
    border-width: 100%; 
    margin: 5px;
    float: left;
}

.bio{
   background-image: url(https://i.pinimg.com/originals/ff/22/d4/ff22d451a7862a8773196342d206e61e.jpg);
   margin-left: 10%;
   margin-right: 10%;
   font-family: 'Oswald', sans-serif;
}

#bio{
    margin: 30px;
    margin-bottom:50px;

}
.clearfix {
    overflow: auto;
  }

h2{
      font-size: 60px;
      margin-bottom: -3%;
      text-align: center;
  }

.banner{
      padding-top: 5%;
      width: 100%;
      padding-bottom: 1%;
  }

#blog{
      color: rgba(0, 0, 0, 0.5);
      
  }

  .navbar{
text-align: right;
float: right;
  }
